build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar targetPath (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.project
/build.gradle.siemens
/.gradle/
/.idea/
/**/*.iml
/build.gradle
/ee-timeline/out/production/classes/
/ee-timeline_des/out/production/classes/
/ee-timeline_excel/out/production/classes/
/ee-timeline_json/out/production/classes/
/ee-timeline_json/.settings/
/ee-timeline_json/.classpath
/ee-timeline_json/.project
/ee-timeline_excel/.settings/
/ee-timeline_excel/.classpath
/ee-timeline_excel/.project
/ee-timeline_des/.settings/
/ee-timeline_des/.classpath
/ee-timeline_des/.project
/ee-timeline/.settings/
/ee-timeline/.classpath
/ee-timeline/.project
/.settings/
/.classpath
